#dp{
    margin: 0;
    border: 0;
}

#dp-1{
    color: #ffffff8c;
}

#dp-2{
    color: #ffffff8c;
}

#dp-3{
    color: #ffffff8c;
}

#dp-4{
    color: #ffffff8c;
}

#dp-5{
    color: #ffffff8c;
}

#dp-div{
    color: #ffffff8c;
}

#dp-6{
    color: #ffffff8c;
}
